<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Invoice Details</h2>
          </header>
          <div>
            <div class="widget-body">
              <form name="transportForm" #transportForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.SiteId" name="SiteId" required>
                        <option value="" selected hidden> Select Site </option>
                        <option value=""> Sanskruti </option>
                        <option value=""> Nirmiti </option>
                        <option value=""> Akruti </option>
                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Project <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.ProjectId" name="ProjectId" required>
                        <option value="" selected hidden> Select Project </option>
                        <option value=""> Samved </option>
                        <option value=""> Yajurved </option>
                        <option value=""> Rugved </option>
                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="sel1">Select GRN <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="transport.PManageId" name="PManageId" required>
                        <option value="" selected hidden> Select GRN </option>
                        <option value="">GRN/PR/01</option>
                        <option value="">GRN/PR/02</option>
                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice  No. <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice No. " [(ngModel)]="transport.InvoiceNo"
                        name="InvoiceNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
             
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Invoice Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice Date " [(ngModel)]="transport.INVDate"
                        name="INVDate" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr align="center" class="text-center">
                                    <th  class="text-center">#</th>
                                    <th  class="text-center">Activity</th>
                                    <th  class="text-center">Quantity</th>
                                    <th class="text-center">Unit</th>
                                    <th  class="text-center">Rate</th>
                                    <th class="text-center">Amount</th>
                                    <th class="text-center">IGST %</th>
                                    <th class="text-center">SGST %</th>
                                    <th class="text-center">CGST %</th>
                                    <th class="text-center">IGST Amount</th>
                                    <th class="text-center">SGST Amount</th>
                                    <th class="text-center">CGST Amount</th>
                                    <th class="text-center">Total Amount </th>
                                    <th class="text-center">Remove </th>
                                </tr>
                           
                            </thead>
                            <tbody>
                              <tr>
                                <td>1.</td>
                                <td colspan="13"><strong>BrickWork</strong></td>
                              </tr>
                                <tr>
                                <td></td>
                                <td>Brickwork for bench</td>
                                <td class="text-center">65</td>
                                <td class="text-center">Sqft</td>
                                <td  class="text-center">18</td>
                                <td  class="text-center">1170</td>
                                <td  class="text-center">0</td>
                                <td  class="text-center">9</td>
                                <td  class="text-center">9</td>
                                <td  class="text-center">0</td>
                                <td  class="text-center">19</td>
                                <td  class="text-center">19</td>
                                 <td class="text-center">1178</td>
                                 <td class="text-center">
                                  <button class="btn btn-xs btn-danger" (click)=onRemoveDoc(docs,i+1)>Remove</button>
                              </td> 
                                </tr>
                                <tr>
                                  <td></td>
                                  <td>Cement</td>
                                  <td class="text-center">1</td>
                                  <td class="text-center">Bag</td>
                                  <td  class="text-center">340</td>
                                  <td class="text-center">340</td>
                                  <td  class="text-center">9</td>
                                  <td  class="text-center">0</td>
                                  <td  class="text-center">0</td>
                                  <td  class="text-center">19</td>
                                  <td  class="text-center">0</td>
                                  <td  class="text-center">0</td>
                                
                                   <td class="text-center">340</td>
                                   <td class="text-center">
                                    <button class="btn btn-xs btn-danger" (click)=onRemoveDoc(docs,i+1)>Remove</button>
                                </td> 
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td>Crush Sand</td>
                                    <td class="text-center">0.025</td>
                                    <td class="text-center">Brass</td>
                                    <td  class="text-center">3400</td>
                                    <td class="text-center">85</td>
                                    <td  class="text-center">0</td>
                                    <td  class="text-center">9</td>
                                    <td  class="text-center">9</td>
                                    <td  class="text-center">0</td>
                                    <td  class="text-center">19</td>
                                    <td  class="text-center">19</td>
                                     <td class="text-center">85</td>
                                     <td class="text-center">
                                      <button class="btn btn-xs btn-danger" (click)=onRemoveDoc(docs,i+1)>Remove</button>
                                  </td> 
                                    </tr>
                                              <tr>
                                                <td colspan="5" class="text-right"><strong>TOTAL</strong></td>
                                                <td class="text-center"><strong>23000</strong>  </td>
                                                <td></td>    <td></td>    <td></td>
                                                <td class="text-center"><strong>19</strong>  </td>
                                                <td class="text-center"><strong>38</strong>  </td>
                                                <td class="text-center"><strong>38</strong>  </td>
                                                <td class="text-center"><strong>340900</strong>  </td><td></td>
                                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
           
              
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/m-invoice-details-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>