<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Labour Work Payment Details</h2>
          </header>
          <div>
            <div class="widget-body">
              <form name="transportForm" #transportForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Site <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite()"  [disabled]="project.TranNo!=null" required>
                            <option value="" selected hidden> Select Site </option>
                            <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="sel1">Project <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId" (change)="onSelectProject('','')"  [disabled]="project.TranNo!=null"  required>
                            <option value="" selected hidden> Select Project </option>
                            <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                            </option>
                          </select>
                        </div>
                      </div>
                </div>
                <div class="row">
                   <div class="col-sm-2">
                    <div class="form-group">
                      <label for="sel1">Select Labour <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="Material.LabourId" name="LabourId"
                       [disabled]="Material.index!=null" required >
                        <option value="" selected hidden> Select Labour </option>
                        <option [value]="des.LabourId" *ngFor="let des of LabourData">{{des.LabourName}}
                        </option>
                      </select>
                    </div>
                  </div>
                
                  <div class="col-sm-2">
                      <div class="form-group">
                        <label for="sel1">Activity Type<span class="errorMessage">*</span>
                        </label>
                        <select class="form-control" [(ngModel)]="Material.TypeId" name="TypeId"
                        (change)="onSelectActivityMaterial()"   [disabled]="Material.index!=null" required >
                          <option value="" selected hidden> Select Activity Type </option>
                          <option [value]="des.TypeId" *ngFor="let des of AMTypeData">{{des.TypeName}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                          <label for="sel1">Activity / Labour Work <span class="errorMessage">*</span>
                          </label>
                          <select class="form-control" [(ngModel)]="Material.WorkId" name="WorkId"
                          (ngModelChange)="onSelectMaterial()" [disabled]="Material.index!=null" required>
                            <option value="" selected hidden> Select Activity </option>
                             <option [value]="des.MatActExpId" *ngFor="let des of filterMaterialArray">{{des.WorkName}}
                            </option>
                          </select>
                        
                        </div>
                      </div>  
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Work Done Description<span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Description " [(ngModel)]="Material.InvoiceNo"
                        name="InvoiceNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                      <div class="form-group">
                          <label>Date Of Work  <span class="errorMessage">*</span>
                          </label>
                        <label class="posticon">
                          <i class="icon-append fa fa-calendar"></i>
                          <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="Material.StartDate" name="StartDate" id="startDate"
                             onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-2 col-xs-8">
                        <div class="form-group">
                            <label>Start Date <span class="errorMessage">*</span>
                            </label>
                          <label class="posticon">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="Material.StartDate" name="StartDate" id="startDate"
                               onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-8">
                        <div class="form-group">
                            <label>End Date <span class="errorMessage">*</span>
                            </label>
                          <label class="posticon">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" id="endDate" class="form-control" placeholder="Enter End Date" [(ngModel)]="Material.EndDate" name="EndDate" onkeydown="return false"
                              [minDate]="minDate" bsDatepicker [bsConfig]="datePickerConfig" />
                          </label>
                        </div>
                      </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>In Time <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter  Time" [(ngModel)]="Material.Amount"
                        name="Amount" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Out Time <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter  Time" [(ngModel)]="Material.Amount"
                        name="Amount" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Payment Amount<span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Amount" [(ngModel)]="Material.ChequeNo"
                        name="ChequeNo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                      <div class="col-sm-1 col-xs-4">
                    <div class="form-group">
                      <label>
                      </label>
                      <button class="btn btn-block btn-warning ">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add 
                    </button>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr align="center" class="text-center">
                            <th class="text-center">#</th>
                            <th class="text-center">Labour </th>
                            <th class="text-center">Activity Type </th>
                            <th class="text-center">Ativity </th>
                            <th class="text-center">Work Description </th>
                            <th class="text-center">Date of Work </th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">End Date</th>
                            <th class="text-center">In Time</th>
                            <th class="text-center">Out Time</th>
                            <th class="text-center">Amount</th>
                          </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let mat of MaterialArray;index as i">
                            <td class="text-center"><span (onload)="check(i)">{{i+1}}.</span></td>
                            <td>Amir Khan</td>
                            <td ><strong *ngIf="mat.show">{{mat.TypeName}}</strong></td>  
                            <td>{{mat.WorkName}}</td>
                            <td class="text-center">{{mat.Desc}}</td>
                            <td class="text-center">{{mat.Datework}}</td>
                            <td class="text-center">{{mat.StartDate}}</td>
                            <td class="text-center">{{mat.EndDate}}</td>
                            <td class="text-center">{{mat.InTime}}</td>
                            <td class="text-center">{{mat.OutTime}}</td>
                            <td class="text-center">{{mat.PaymentAmount}}</td>
                          </tr>


                        </tbody>
                      </table>
                    </div>
                   
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label>
                      <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive"
                        [(ngModel)]='Material.IsActive' /> Is Active </label>
                  </div>
                </div>
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/labour-work-payment-details-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>