<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true"
          minimize="false" color="blueDark">
          <header class="text-center">
            <h2>
              <i class="fa fa-database"></i> Work Contract</h2>
          </header>
          <div>
            <div class="widget-body">
              <form name="transportForm" #transportForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off"
                ngNativeValidate>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Site <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.SiteId" name="SiteId" (change)="onSelectSite(project.SiteId,'S')"
                        [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Site </option>
                        <option [value]="des.SiteId" *ngFor="let des of SiteData">{{des.SiteName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Project <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.ProjectId" name="ProjectId"
                        (change)="onSelectProject('')" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Project </option>
                        <option [value]="des.ProjectId" *ngFor="let des of ProjectData">{{des.ProjectName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Select Labour Work <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.WorkId" name="WorkId"  (change)="onSelectVendor()" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Labour </option>
                        <option [value]="des.WorkId" *ngFor="let des of LabourWork">{{des.WorkName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="sel1">Select Contractor <span class="errorMessage">*</span>
                      </label>
                      <select class="form-control" [(ngModel)]="project.RefTranNo" name="RefTranNo"
                        (change)="onSelectProject(project.RefTranNo)" [disabled]="project.TranNo!=null" required>
                        <option value="" selected hidden> Select Contractor </option>
                        <option [value]="des.TranNo" *ngFor="let des of ContractorData">{{des.DispTranNo}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Contract Date <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker
                        [(ngModel)]="project.ChallanDate" name="ChallanDate" id="startDate" onkeydown="return false"
                        bsDatepicker [bsConfig]="datePickerConfig" />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Qty of the work <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Qty of the work" [(ngModel)]="project.Qty"
                        name="Qty" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Rate <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Invoice Amount " [(ngModel)]="project.Amount"
                        name="Amount" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                        <label>Start Date <span class="errorMessage">*</span>
                        </label>
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" class="form-control" placeholder="Enter Start Date" bsDatepicker [(ngModel)]="project.StartDate" name="Startdate" id="startDate"
                           onkeydown="return false" bsDatepicker [bsConfig]="datePickerConfig" />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-2 col-xs-8">
                    <div class="form-group">
                        <label>End Date <span class="errorMessage">*</span>
                        </label>
                      <label class="posticon">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" id="endDate" class="form-control" placeholder="Enter End Date" [(ngModel)]="project.EndDate" name="EndDate" onkeydown="return false"
                          [minDate]="minDate" bsDatepicker [bsConfig]="datePickerConfig" />
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Contarct Period <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Period " [(ngModel)]="project.Period"
                        name="Period" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  

                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Grace Time  Offered <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Time " [(ngModel)]="project.GSTAmount"
                        name="Time" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Penalty in Grace Period <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Penalty in Grace Period " [(ngModel)]="project.PONo"
                        name="PONo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Penalty After Grace Period <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Penalty After Grace Period " [(ngModel)]="project.PONo"
                        name="PONo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Taxataion  Rate<span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Rate " [(ngModel)]="project.PONo"
                        name="PONo" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Retention Percentage <span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Percentage " [(ngModel)]="project.Amount"
                        name="Amount" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>Retention Period (In Months<span class="errorMessage">*</span>
                      </label>
                      <input type="text" class="form-control" placeholder="Enter Period " [(ngModel)]="project.Amount"
                        name="Amount" saCommonDir dirType="alphanumeric" required />
                    </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="form-group">
                        <label for="sel1">Payment Terms <span class="errorMessage">*</span>
                        </label>
                        <select class="form-control" [(ngModel)]="project.PaymentTermId" name="PaymentTermId" required>
                          <option value="" selected hidden> Select Terms </option>
                          <option [value]="des.PayTermId" *ngFor="let des of PayTData">{{des.PayTerm}}</option>
                        </select>
                      </div>
                    </div>
          
                </div>
           
                <!-- <div class="row">
                  <div class="col-sm-6">
                    <label>
                      <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive"
                        [(ngModel)]='transport.IsActive' /> Is Active </label>
                  </div>
                </div> -->
                <footer>
                  <div class="row">
                    <div class="col-sm-12 ">
                      <hr />
                      <a class="pull-right btn btn-default" routerLink="/project/labour-contract-list">
                        <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                      <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                        <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i>
                        {{loaderbtn==true? 'Submit':'Loading'}}</button>
                    </div>
                  </div>
                </footer>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>