<!-- MAIN CONTENT -->
<div id="content">  
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">    
        <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
            <header class="text-center">  
            <h2><i class="fa fa-database"></i> Activity / Material Type Master</h2>
          </header>
          <div>
            <div class="widget-body">
                <div class="row ">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <!-- <label for="sel1">Type <span class="errorMessage">*</span>
                      </label> -->
                      <select class="form-control" [(ngModel)]="MAID" name="MAID" (change)="onLoad(MAID)" required>
                        <option value="" selected hidden> Select Type </option>
                        <option value="2"> Material </option>
                        <option value="3"> Activity </option>
                      </select>
                    </div>
                  </div>
                    <div class="col-sm-10">
                        <div class="form-group  pull-right">
                            <a routerLink="/master/material-type" class="btn btn-block btn-warning ">
                                <i class="glyphicon glyphicon-plus"></i>
                                Add Material Type
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 table-responsive">
                        <ui-grid [data]="matActData" [gridOptions]="gridOptions" (onEdit)="onEditFunction($event)"></ui-grid>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
