<!-- MAIN CONTENT -->
<div id="content">
  <sa-widgets-grid>
      <div class="row">
          <article class="col-sm-6 col-sm-offset-3">
              <div sa-widget [editbutton]="false" [sortable]="false" [deletebutton]="false" [togglebutton]="true" minimize="false" color="blueDark">
                  <header class="text-center">
                      <h2>
                          <i class="fa fa-database"></i> Material Master</h2>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form name="materialForm" #materialForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" ngNativeValidate>
                              <div class="row">
                                <!-- <div class="col-sm-3">
                                    <div class="form-group">
                                      <label for="sel1">Material Type<span class="errorMessage">*</span>
                                      </label>
                                      <select class="form-control" [(ngModel)]="material.MaterialTypeId" name="MaterialTypeId" required>
                                        <option value="" selected hidden> Select Type </option>
                                        <option value=""> Bricks Work </option>
                                        <option value=""> Stone Work </option>
                                        <option value=""> Painting </option>
                                        <option value=""> lighting </option>
                                        <option [value]="des.RoleCode" *ngFor="let des of designationData">{{des.RoleDesc}}
                                        </option>
                                      </select>
                                    </div>
                                  </div> -->
                                  <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Material Name <span class="errorMessage">*</span>
                                        </label>
                                        <input type="text" class="form-control" placeholder="Enter Material " [(ngModel)]="material.MatName" name="MatName" saCommonDir
                                            dirType="alphanumeric" required />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                      <label>Unit of Measurement <span class="errorMessage">*</span>
                                      </label>
                                      <select class="form-control" [(ngModel)]="material.UOM" name="UOM" required>
                                        <option value="" selected hidden> Select Unit </option>
                                        <option [value]="des.UOMId" *ngFor="let des of unitData">{{des.UOM}}
                                        </option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                    <label>CGST (%) <span class="errorMessage">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter CGST " [(ngModel)]="material.CGST" name="CGST" saCommonDir
                                        dirType="decimal" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>SGST (%) <span class="errorMessage">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter SGST " [(ngModel)]="material.SGST" name="SGST" saCommonDir
                                        dirType="decimal" required />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>IGST (%) <span class="errorMessage">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter IGST " [(ngModel)]="material.IGST" name="IGST" saCommonDir
                                        dirType="decimal" required />
                                </div>
                            </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <label>
                                          <input type="checkbox" trueFalseValue trueValue="Y" falseValue="N" name="IsActive" [(ngModel)]='material.IsActive' /> Is Active </label>
                                  </div>
                              </div>
                              <footer>
                                  <div class="row">
                                      <div class="col-sm-12 ">
                                          <hr />
                                          <a class="pull-right btn btn-default" routerLink="/master/material-master">
                                              <i class="glyphicon glyphicon-arrow-left"></i> &nbsp;&nbsp;Back </a>
                                          <button class="pull-right btn btn-primary marg-right" type="submit" [disabled]="!loaderbtn">
                                              <i class="fa fa-fw" [ngClass]="{'fa-paper-plane':loaderbtn,'fa-cog fa-spin':!loaderbtn}"></i> {{loaderbtn==true? 'Submit':'Loading'}}</button>
                                      </div>
                                  </div>
                              </footer>
                          </form>
                      </div>
                  </div>
              </div>
          </article>
      </div>
  </sa-widgets-grid>
</div>